@import "@radix-ui/colors/ruby.css";
@import "@radix-ui/colors/ruby-dark.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";

@import "@xyflow/react/dist/base.css";

@import "tailwindcss";

@theme {
  --font-text: var(--font-text);
  --font-heading: var(--font-heading);
  --font-code: var(--font-code);

  --color-gray-1: var(--mauve-1);
  --color-gray-2: var(--mauve-2);
  --color-gray-3: var(--mauve-3);
  --color-gray-4: var(--mauve-4);
  --color-gray-5: var(--mauve-5);
  --color-gray-6: var(--mauve-6);
  --color-gray-7: var(--mauve-7);
  --color-gray-8: var(--mauve-8);
  --color-gray-9: var(--mauve-9);
  --color-gray-10: var(--mauve-10);
  --color-gray-11: var(--mauve-11);
  --color-gray-12: var(--mauve-12);
  --color-gray-contrast: #fff;

  --color-accent-1: var(--ruby-1);
  --color-accent-2: var(--ruby-2);
  --color-accent-3: var(--ruby-3);
  --color-accent-4: var(--ruby-4);
  --color-accent-5: var(--ruby-5);
  --color-accent-6: var(--ruby-6);
  --color-accent-7: var(--ruby-7);
  --color-accent-8: var(--ruby-8);
  --color-accent-9: var(--ruby-9);
  --color-accent-10: var(--ruby-10);
  --color-accent-11: var(--ruby-11);
  --color-accent-12: var(--ruby-12);
  --color-accent-contrast: #fff;

  --color-red-1: var(--red-1);
  --color-red-2: var(--red-2);
  --color-red-3: var(--red-3);
  --color-red-4: var(--red-4);
  --color-red-5: var(--red-5);
  --color-red-6: var(--red-6);
  --color-red-7: var(--red-7);
  --color-red-8: var(--red-8);
  --color-red-9: var(--red-9);
  --color-red-10: var(--red-10);
  --color-red-11: var(--red-11);
  --color-red-12: var(--red-12);
  --color-red-contrast: #fff;

  --color-green-1: var(--green-1);
  --color-green-2: var(--green-2);
  --color-green-3: var(--green-3);
  --color-green-4: var(--green-4);
  --color-green-5: var(--green-5);
  --color-green-6: var(--green-6);
  --color-green-7: var(--green-7);
  --color-green-8: var(--green-8);
  --color-green-9: var(--green-9);
  --color-green-10: var(--green-10);
  --color-green-11: var(--green-11);
  --color-green-12: var(--green-12);
  --color-green-contrast: #fff;

  --color-blue-1: var(--blue-1);
  --color-blue-2: var(--blue-2);
  --color-blue-3: var(--blue-3);
  --color-blue-4: var(--blue-4);
  --color-blue-5: var(--blue-5);
  --color-blue-6: var(--blue-6);
  --color-blue-7: var(--blue-7);
  --color-blue-8: var(--blue-8);
  --color-blue-9: var(--blue-9);
  --color-blue-10: var(--blue-10);
  --color-blue-11: var(--blue-11);
  --color-blue-12: var(--blue-12);
  --color-blue-contrast: #fff;
}

body {
  @apply bg-gray-1 cursor-default isolate selection:bg-accent-9/25 text-gray-12 antialiased font-text relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-black;
}

/* react-flow */

.react-flow {
  --xy-edge-stroke-default: var(--color-gray-7);
  --xy-edge-stroke-width-default: 2;
}

.react-flow__controls {
  @apply m-4 bg-gray-4 rounded-sm;
}

.react-flow__controls-button {
  @apply outline-none focus-visible:ring-2 ring-accent-8 rounded-sm;
}
